.productos__barra--agregar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.producto__titulo--agregar{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.producto__enlace--agregar{
    background-color: var(--azul-banner);
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.8rem 1rem;
    font-weight: 300;
}



.productos__tarjeta--edicion{
    box-sizing: content-box;
    position: relative;
    left: 6rem;
    top: 2rem
}

.producto__tarjeta--imagenes--edit{
    width: 10%;
    color: white;
    margin-right: 1rem;
}