/*due to personal reasons aaaaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

.container{

}

/*C0lorcitos*/
:root{
    --azul-banner: #2A7AE4;
    --gris-fuente: #464646;
    --azul-claro: #eaf2fd;
    --gris-bg: #f5f5f5;
}



